body {
  font-family: Roboto, Helvetica, sans-serif;
}
h1 {
  font-size: 16px;
  color: #444444;
}
.offer-title {
  font-size: 14px;
  color: #ffffff;
  background-color: #00b3b3;
  padding: 15px;
  font-weight: bold;
  margin: 0;
}
.container {
  margin: 5px;
  font-size: 13px;
  text-align: center;
}
.offer {
  display: inline-block;
  width: 400px;
  margin: 4px;
  text-align: center;
  border: 1px solid #cccccc;
}
.offer-contents {
  padding: 20px;
  background-color: #fafafa;
}

table {
  width: 100%;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  font-size: 12px;
  font-weight: bold;
  color: #777777;
  padding: 10px;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}
td {
  font-weight: lighter;
  color: #444444;
  padding: 20px 10px;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}
.final-value {
  color: #2222ff;
  font-weight: bold;
}
